<h2>产品列表</h2>
<br />
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>产品名称</th>
      <th>模型规格</th>
      <th>单位</th>
      <th>单价（元）</th>
      <th colspan="3">操作</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each_with_index do |product, index| %>
      <tr>
        <td><%= index %></td>
        <td><%= product.name %></td>

        <td><%= truncate product.product_model, length: 46 %></td>
        <td><%= product.unit %></td>
        <td><%= product.price %></td>
        <td><%= link_to '查看', product %></td>
        <% if current_user.mediator? %>
          <td><%= link_to('添加到咨询列表', '', data: { confirm: '功能开发中...' }) %></td>
        <% end %>
        <% if can? :update, product %>
          <td><%= link_to '编辑', edit_product_path(product) %></td>
        <% end %>
        <% if can? :destroy, product %>
          <td><%= link_to '删除', product, method: :delete, data: { confirm: '你确定要删除？' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="btn-group">
<% if can? :create, Product %>
  <%= button_to '添加新产品', new_product_path, method: :get, class: 'btn btn-large btn-primary' %>
<% end %>
</div>
