<h2>产品详情</h2>
<p>
  <strong><%= Product.human_attribute_name("name") %>:</strong>
  <%= @product.name %>
</p>

<p>
  <strong><%= Product.human_attribute_name("product_model") %>:</strong>
  <%= @product.product_model %>
</p>

<p>
  <strong><%= Product.human_attribute_name("unit") %>:</strong>
  <%= @product.unit %>
</p>

<p>
  <strong><%= Product.human_attribute_name("price") %>:</strong>
  <%= @product.price %>
</p>

<% if current_user.mediator? %>
  <%= link_to('添加到咨询列表', '', data: { confirm: '功能开发中...' }) %> | 
<% end %>
<% if can? :update, @product %>
	<%= link_to '编辑', edit_product_path(@product) %> |
<% end %>
<%= link_to '返回产品列表', products_path %>
